* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: rgb(243, 243, 233);
}

body::-webkit-scrollbar {
  display: none;
}

.nav-bar {
  position: absolute;
  top: 2vh;
  width: 100vw;
}

.logo {
  position: absolute;
  left: 1vw;
  top: 1vh;
  height: 10vh;
}

ul {
  position: absolute;
  right: 2.5vw;
  top: 2vh;
  list-style: none;
  width: 68vw;
}

li {
  display: inline;
  position: absolute;
  font-size: 1.3vw;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}

.nav-bar ul li a:hover {
  text-decoration: underline;
}

.glitch {
  position: absolute;
  /* top: 13vh; */
  width: 100vw;
  z-index: -1;
}

.theme-head {
  position: absolute;
  top: 125vh;
  left: 13vw;
  font-size: 4vw;
}

.theme {
  width: 55vw;
  height: 40vh;
  border-radius: 13%;
  background-color: rgb(10, 161, 78);
  position: absolute;
  top: 110vh;
  right: 5vw;
}

.theme-info {
  padding: 2vw;
  text-align: center;
  position: absolute;
  top: 3vh;
  font-size: 1.4vw;
}

.about-head {
  position: absolute;
  top: 170vh;
  right: 13vw;
  font-size: 4vw;
}

.about {
  width: 55vw;
  height: 40vh;
  border-radius: 13%;
  background-color: rgb(172, 159, 45);
  position: absolute;
  top: 155vh;
  left: 5vw;
}

.about-info {
  padding: 2vw;
  text-align: center;
  position: absolute;
  top: 3vh;
  font-size: 1.4vw;
}

footer {
  background-color: rgb(185, 98, 163);
  position: absolute;
  top: 205vh;
  width: 100vw;
  height: 50vh;
  font-weight: bold;
}

.connect {
  font-size: 2vw;
  color: white;
  position: absolute;
  top: 16vh;
  left: 10vw;
}

footer img {
  width: 4vw;
  position: absolute;
  top: 24.5vh;
}

.faq {
  font-size: 2vw;
  color: white;
  position: absolute;
  top: 9vh;
  left: 53vw;
}

.reach {
  font-size: 2vw;
  color: white;
  position: absolute;
  top: 18vh;
  left: 53vw;
}

.find {
  font-size: 2vw;
  color: white;
  position: absolute;
  top: 27vh;
  left: 53vw;
}

.sponsors {
  font-size: 2vw;
  color: white;
  position: absolute;
  top: 36vh;
  left: 53vw;
}
