<img src="./assests/giphy.gif" alt="" class="background" />
<header>
  <nav class="nav-bar">
    <a href="/"><img src="./assests/logo.png" alt="Logo" class="logo"/></a>
    <ul>
      <li>
        <a href="/">HOME</a>
      </li>
      <li style="right: 48.5vw;">
        <a href="./users/login">LOGIN/REGISTER</a>
      </li>
      <li style="right: 39.5vw;">
        <a href="./event-list.html">EVENTS</a>
      </li>
      <li style="right: 28.5vw;">
        <a href="#">SCHEDULE</a>
      </li>
      <li style="right: 12vw;">
        <a href="#">ACCOMMODATION</a>
      </li>
      <li style="right: 0vw;">
        <a href="#">CONTACT US</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <div class="student-info">
    <img
      src="./student_portal/assets/profile photo.jpeg"
      alt="Student's image"
      class="student-image"
    />
    <div class="name">
      <p><%=name%></p>
      <p><%=roll%></p>
      <p>Semester-<%=sem%></p>
    </div>
  </div>
</main>
