html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background: linear-gradient(to right, #545cda, #49d2ff);
}

body::-webkit-scrollbar {
  display: none;
}

header {
  background-color: #32323f;
  width: 100vw;
  height: 10vh;
}

.nav-bar {
  position: absolute;
  top: 2vh;
  width: 100vw;
}

.logo {
  position: absolute;
  left: 1vw;
  top: 1vh;
  height: 10vh;
}

ul {
  position: absolute;
  right: 2.5vw;
  top: 2vh;
  list-style: none;
  width: 69vw;
}

li {
  display: inline;
  position: absolute;
  font-size: 1.3vw;
}

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

.nav-bar ul li a:hover {
  text-decoration: underline;
}

.event-box {
  position: absolute;
  top: 15vh;
  left: 9vw;
  width: 81vw;
  height: 70vh;
  border-radius: 5%;
}

#event-head {
  position: absolute;
  top: 3vh;
  text-align: center;
  font-size: 3vw;
  color: #ffffff;
  width: 81vw;
  height: 7vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.info-buttons {
  position: absolute;
  top: 12vh;
  text-align: center;
  font-size: 1.4vw;
}

#about {
  width: 27vw;
  height: 5vh;
  padding-top: 1vh;
  position: absolute;
  left: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#rules {
  width: 27vw;
  height: 5vh;
  padding-top: 1vh;
  position: absolute;
  left: 27vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#register {
  width: 27vw;
  height: 5vh;
  padding-top: 1vh;
  position: absolute;
  left: 54vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#event-info {
  position: absolute;
  top: 17vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 3vh;
  text-align: center;
  color: #ffffff;
  font-size: 1.2vw;
  width: 81w;
  height: 53vh;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
