html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background: linear-gradient(to right, #545cda, #49d2ff);
}

body::-webkit-scrollbar {
  display: none;
}

header {
  background-color: #32323f;
  width: 100vw;
  height: 10vh;
}
.nav-bar {
  position: absolute;
  top: 2vh;
  width: 100vw;
}

.logo {
  position: absolute;
  left: 1vw;
  top: 1vh;
  height: 10vh;
}

ul {
  position: absolute;
  right: 2.5vw;
  top: 2vh;
  list-style: none;
  width: 68vw;
}

li {
  display: inline;
  position: absolute;
  font-size: 1.3vw;
}

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

.nav-bar ul li a:hover {
  text-decoration: underline;
}

.background {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50vw;
  z-index: -1;
}

.info {
  width: 45vw;
  position: absolute;
  top: 25vh;
  left: 5vw;
}

.tech {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 8vw;
}

.fest {
  position: absolute;
  top: 13vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #00ffff;
  font-size: 8vw;
}

.info-info {
  position: absolute;
  top: 35vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

footer {
  background-color: #2669b6;
  position: absolute;
  top: 100vh;
  width: 100vw;
  height: 50vh;
}

.connect {
  font-size: 2vw;
  color: white;
  position: absolute;
  top: 16vh;
  left: 10vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

footer img {
  width: 4vw;
  position: absolute;
  top: 24.5vh;
}

.faq {
  font-size: 2vw;
  color: white;
  position: absolute;
  top: 9vh;
  left: 53vw;
}

.reach {
  font-size: 2vw;
  color: white;
  position: absolute;
  top: 18vh;
  left: 53vw;
}

.find {
  font-size: 2vw;
  color: white;
  position: absolute;
  top: 27vh;
  left: 53vw;
}

.sponsors {
  font-size: 2vw;
  color: white;
  position: absolute;
  top: 36vh;
  left: 53vw;
}
