html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background: linear-gradient(to right, #545cda, #49d2ff);
}

body::-webkit-scrollbar {
  display: none;
}

header {
  background-color: #32323f;
  width: 100vw;
  height: 10vh;
}
.nav-bar {
  position: absolute;
  top: 2vh;
  width: 100vw;
}

.logo {
  position: absolute;
  left: 1vw;
  top: -1vh;
  height: 8vh;
}

ul {
  position: absolute;
  right: 2.5vw;
  top: 2vh;
  list-style: none;
  width: 69vw;
}

li {
  display: inline;
  position: absolute;
  font-size: 1.3vw;
}

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

.nav-bar ul li a:hover {
  text-decoration: underline;
}

.back {
  background-color: white;
  width: 90vw;
  height: 70vh;
  position: absolute;
  top: 19vh;
  right: 5vw;
  border-radius: 2vh;
}

.image {
  position: absolute;
  top: 12vh;
  left: 5vw;
  width: 30vw;
}

.login {
  position: absolute;
  top: 5vh;
  right: 38vw;
}

.heading {
  position: absolute;
  top: 7vh;
  font-size: 2vw;
  width: 25vw;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

.form {
  position: absolute;
  top: 19vh;
}

.username input {
  width: 25vw;
  height: 5vh;
  border-radius: 2vh;
  padding-left: 1vw;
  background: linear-gradient(to right, #f6c6b0, #f0f9ff);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.password input {
  width: 25vw;
  height: 5vh;
  border-radius: 2vh;
  padding-left: 1vw;
  background: linear-gradient(to right, #f6c6b0, #f0f9ff);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  position: absolute;
  top: 8vh;
}

.submit button {
  width: 8vw;
  height: 5vh;
  border-radius: 2vh;
  padding: 1vw;
  padding-top: 0.7vw;
  background: linear-gradient(to right, #f6c6b0, #f0f9ff);
  position: absolute;
  top: 20vh;
  right: 10vw;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

.register {
  position: absolute;
  top: 14.5vh;
  right: 2vw;
}

.register a {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

@media only screen and (max-width: 450px) {
  .background {
    top: 18vh;
  }

  header {
    height: 6vh;
  }

  .nav-bar {
    top: 1vh;
  }

  .logo {
    height: 4vh;
    top: 0;
  }

  li {
    font-size: 1.65vw;
  }

  .image {
    position: absolute;
    top: 50vh;
    left: 27vw;
    width: 33vw;
  }

  .login {
    position: absolute;
    top: 0vh;
    right: 70vw;
  }

  .heading {
    position: absolute;
    top: 7vh;
    font-size: 6vw;
    width: 50vw;
    text-align: center;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
  }

  .form {
    position: absolute;
    top: 15vh;
    left: 5vw;
  }

  .username input {
    width: 40vw;
    height: 5vh;
    border-radius: 2vh;
    padding-left: 1vw;
    background: linear-gradient(to right, #f6c6b0, #f0f9ff);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }

  .password input {
    width: 40vw;
    height: 5vh;
    border-radius: 2vh;
    padding-left: 1vw;
    background: linear-gradient(to right, #f6c6b0, #f0f9ff);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    position: absolute;
    top: 8vh;
  }

  .submit button {
    width: 25vw;
    height: 5vh;
    border-radius: 2vh;
    padding: 1vw;
    padding-top: 0.7vw;
    background: linear-gradient(to right, #f6c6b0, #f0f9ff);
    position: absolute;
    top: 20vh;
    right: 10vw;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
  }

  .register {
    position: absolute;
    top: 14.5vh;
    right: 2vw;
  }

  .register a {
    font-size: 3vw;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
}
